body {
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  display: inline-block;
  background: #a1d719;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  position: relative;
  margin: 0 20px 0 0;
  float: left;
}

li > a:after {
  content: " »";
} /* Change this in order to change the Dropdown symbol */

li > a:only-child:after {
  content: "";
}

nav ul li a {
  padding: 20px 0px 15px 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 0.5;
}

nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  background: #91c517;
  float: left;
}

nav ul li ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav img {
  width: 100%;
}

#nav-image-container {
  width: 10%;
}

nav ul li:hover ul {
  display: block;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.image-container > img {
  width: 480px;
  height: 300px;
  float: left;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: auto;
  width: 70%;
  text-align: center;
}

th {
  padding: 10px;
  background-color: #91c517;
  font-family: "Courier New", Courier, monospace;
}

.three-images > img {
  float: left;
  width: 320px;
  height: 200px;
}
